<ng-template #loggedOut> Por favor efetue login!!! </ng-template>

<div class="card card-container" *ngIf="isLogged; else loggedOut">
  <div class="text-center">
    <i class="bi bi-person-circle display-1 text-primary"></i>
    <h1 class="h3 fw-normal">Alterar Usuário</h1>
  </div>

  <form class="row g-3" [formGroup]="formProfile">
    <div class="col-md-12">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" formControlName="name"
        [ngClass]="{ 'is-invalid': profileSubmitted && f.name.errors }" />
      <div *ngIf="profileSubmitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">
          É necessário informar o nome!!!
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email"
        [ngClass]="{ 'is-invalid': profileSubmitted && f.email.errors }" />
      <div *ngIf="profileSubmitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors?.required">
          É necessário informar um email!!!
        </div>
        <div *ngIf="f.email.errors?.email">
          O formato do email é inválido!!!
        </div>
        <div *ngIf="f.email.errors?.maxlength">
          O email deve ter no máximo
          {{ f.email.errors?.maxlength?.requiredLength }} caracteres!!!
        </div>
      </div>
    </div>
    <div class="row"></div>
    <div class="row g-3 mt-0" formGroupName="address">

      <div class="col-md-3">
        <label class="form-label">CEP</label>
        <input type="text" class="form-control" formControlName="zip" (blur)="buscaCEP()"
        [ngClass]="{ 'is-invalid': profileSubmitted && address.controls.zip.errors }" />
        <div *ngIf="profileSubmitted && address.controls.zip.errors" class="invalid-feedback">
          Cep Inválido
        </div>
      </div>
      <div class="col-md-4">
        <label class="form-label">Estado</label>
        <select class="form-select" id="state" formControlName="state"
        [ngClass]="{ 'is-invalid': profileSubmitted && address.state?.errors }">
        <option *ngFor="let estado of listaEstados" [value]="estado.sigla">
          {{ estado.nome }}
        </option>
      </select>
    </div>
    <div class="col-md-5">
      <label class="form-label">Cidade</label>
      <select class="form-select" id="city" formControlName="city"
      [ngClass]="{ 'is-invalid': profileSubmitted && address.city?.errors }">
      <option *ngFor="let cidade of listaCidades" [value]="cidade.nome">
        {{ cidade.nome }}
      </option>
    </select>
  </div>
  <div class="col-12">
    <label class="form-label">Rua</label>
    <input type="text" class="form-control" formControlName="street"
    [ngClass]="{ 'is-invalid': profileSubmitted && address.street?.errors }" />
  </div>
  <div class="col-2">
    <label class="form-label">Número</label>
    <input type="text" class="form-control" formControlName="houseNumber"
    [ngClass]="{ 'is-invalid': profileSubmitted && address.houseNumber?.errors }" />
  </div>
  <div class="col-6">
    <label class="form-label">Complemento</label>
    <input type="text" class="form-control" formControlName="reference"
    [ngClass]="{ 'is-invalid': profileSubmitted && address.reference?.errors }" />
  </div>
  <div class="col-4">
    <label class="form-label">Bairro</label>
    <input type="text" class="form-control" formControlName="district"
    [ngClass]="{ 'is-invalid': profileSubmitted && address.district?.errors }" />
  </div>
</div>
  <div class="col-12">
      <div class="form-group text-center">
        <button type="button" class="btn btn-primary me-2" (click)="onUpdateProfile()">
          <span *ngIf="isLoadingProfile" class="spinner-border spinner-border-sm mr-1"></span>Atualizar
        </button>
        <button type="button" class="btn btn-secondary" (click)="onResetProfile()">
          Cancelar
        </button>
      </div>
    </div>
  </form>
  <div *ngIf="errorProfile" class="alert alert-danger mt-3 mb-0 p-1">
    {{ errorProfile }}
  </div>
</div>

<div class="card card-container" *ngIf="isLogged; else loggedOut">
  <form class="row g-3" [formGroup]="formPassword">
    <div class="row g-3">
      <div class="col-md-5">
        <label class="form-label">Senha Atual</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          [ngClass]="{ 'is-invalid': passwordsubmitted && fp.password.errors }"
        />
        <div
          *ngIf="passwordsubmitted && fp.password.errors"
          class="invalid-feedback"
        >
          <div *ngIf="fp.password.errors?.required">
            É necessário informar a senha atual!!!
          </div>
          <div *ngIf="fp.password.errors?.minlength">
            A senha deve ter no mínimo
            {{ fp.password.errors?.minlength?.requiredLength }} caracteres!!!
          </div>
          <div *ngIf="fp.password.errors?.maxlength">
            A senha deve ter no máximo
            {{ fp.password.errors?.maxlength?.requiredLength }} caracteres!!!
          </div>
        </div>
      </div>
      <div class="row"></div>
      <div class="col-md-6">
        <label>Nova Senha</label>
        <input
          type="password"
          formControlName="newPassword"
          class="form-control"
          [ngClass]="{
            'is-invalid': passwordsubmitted && fp.newPassword.errors
          }"
        />
        <div
          *ngIf="passwordsubmitted && fp.newPassword.errors"
          class="invalid-feedback"
        >
          <div *ngIf="fp.newPassword.errors?.required">
            É necessário informar uma nova senha!!!
          </div>
          <div *ngIf="fp.newPassword.errors?.minlength">
            A senha deve ter no mínimo
            {{ fp.newPassword.errors?.minlength?.requiredLength }} caracteres!!!
          </div>
          <div *ngIf="fp.newPassword.errors?.maxlength">
            A senha deve ter no máximo
            {{ fp.newPassword.errors?.maxlength?.requiredLength }} caracteres!!!
          </div>
          <div *ngIf="fp.newPassword.errors.matching">
            A Senha Atual e a Nova Senha não podem ser iguais!!!
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <label>Confirmar Nova Senha</label>
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control"
          [ngClass]="{
            'is-invalid': passwordsubmitted && fp.confirmPassword.errors
          }"
        />
        <div
          *ngIf="passwordsubmitted && fp.confirmPassword.errors"
          class="invalid-feedback"
        >
          <div *ngIf="fp.confirmPassword.errors.required">
            É necessário confirmar a senha!!!
          </div>
          <div *ngIf="fp.confirmPassword.errors.matching">
            Senhas não conferem!!!
          </div>
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <button
        type="button"
        class="btn btn-primary me-2"
        (click)="onUpdatePassword()"
      >
        <span
          *ngIf="isLoadingPassword"
          class="spinner-border spinner-border-sm mr-1"
        ></span
        >Atualizar
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="onResetPassword()"
      >
        Cancelar
      </button>
    </div>
  </form>
  <div *ngIf="errorPassword" class="alert alert-danger mt-3 mb-0 p-1">
    {{ errorPassword }}
  </div>
</div>

<div class="card card-container">
  <div class="text-center">
    <i class="bi bi-person-dash-fill display-1 text-danger"></i>
    <h1 class="h3 fw-normal text-danger">Deseja excluir o seu cadastro?</h1>
    <p>Sua conta será desativada, mas poderá ser reativada caso deseje.</p>
    <button type="button" class="btn btn-secondary" (click)="onExcluir()">
      <span
        *ngIf="isLoadingRemove"
        class="spinner-border spinner-border-sm mr-1"
      ></span
      >Excluir
    </button>
  </div>
  <div *ngIf="errorRemove" class="alert alert-danger mt-3 mb-0 p-1">
    {{ errorRemove }}
  </div>
</div>

<jw-modal id="confirm-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Parabéns</h5>
    </div>
    <div class="modal-body">
      <p>Usuário atualizado com sucesso!!!</p>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-secondary"
        data-bs-dismiss="modal"
        (click)="closeModal('confirm-modal')"
      >
        Fechar
      </button>
    </div>
  </div>
</jw-modal>

<jw-modal id="remove-modal">
  <div class="modal-content">
    <div class="modal-body">
      <p><strong>Cadastro removido com sucesso!!!</strong></p>
      <p>
        Por motivos de segurança, sua conta encontra-se desativada. Caso queira
        recuperá-la, por favor entre em contato conosco.
      </p>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-secondary"
        data-bs-dismiss="modal"
        (click)="closeModalRemove('remove-modal')"
      >
        Fechar
      </button>
    </div>
  </div>
</jw-modal>
