<header class="bg-primary">
  <div class="container-fluid p-2 d-sm-none d-md-block d-none d-sm-block">
    <div class="row m-0">

      <div class="col-auto p-0">
        <a class="nav-link m-0 p-0" href="">
          <img class="m-0 p-0" src="../assets/logo.svg" alt="LOGO" />
        </a>
      </div>
      <div class="col">
        <div class="container-fluid h-100">
          <div class="row h-auto">
            NOME DA EMPRESA
          </div>
        </div>

      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item" *ngIf="!homeIsProducts">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products">Cardápio</a>
          </li>
          <li class="nav-item" *ngIf="homeIsProducts">
            <a class="nav-link" routerLink="about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Fale Conosco</a>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end p-0">
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" routerLink="login">Acessar Conta</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" routerLink="register">Criar Conta</a>
          </li>
          <li class="nav-item dropdown" *ngIf="isLoggedIn">
            <a class="nav-link dropdown-toggle p-0" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="bi bi-person-circle fs-4 pe-2"></i>{{username}}</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="profile">Perfil</a></li>
              <li><a class="dropdown-item" routerLink="myorders">Minhas Compras</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="" (click)="logout()">Sair</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 ps-4" routerLink="order"><i class="bi bi-basket3 fs-3 text-white"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main class="flex-shrink-0">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="footer mt-auto g-0 m-0 p-2 bg-secondary">
  <div class="container-fluid">
    <div class="row m-0">
      <div class="col-8">
        <p class="g-0 m-0 p-0">Nome da Empresa</p>
        <p class="g-0 m-0 p-0">Endereço: XXX</p>
        <p class="g-0 m-0 p-0">Telefone: (41) 3333-3333</p>
        <p class="g-0 m-0 p-0">Whatzapp</p>
      </div>
      <div class="col-4"><p class="text-end">Siga-nos nas redes sociais e receba ofertas e cupons</p></div>
    </div>
  </div>
</footer>
